---
layout: default
---

{% include social-links.html %}

<div class="wrapper xs-py6 xs-px4 xs-col-10 sm-col-10 lg-col-8 xs-mx-auto xs-text-intro">

  <p class="xs-col-12 sm-col-8 xs-pb3 xs-mx-auto bold">
    Hello! I am Jacqueline. Product and information designer based in NY
    with experience in media and tech.
  </p>
  <p class="xs-col-12 sm-col-8 xs-pb3 xs-mx-auto">
    My work is focused on untangling information and workflow through design.
    I am passionate about scalable system design and user-centered approach whether designing
    for digital plaftforms, content management software, or analystic tools.
  </p>
  <p class="xs-col-12 sm-col-8 xs-pb3 xs-mx-auto">
    At BuzzFeed I design a suite of in-house dashboards with an awesome team that
    aims to provide insights on how our contents connect with our audience and spread across the social web.
    I also lead a subset of dashboards in product development and strategy. While not working,
    I explore creative coding and teach the next generation of creator and builder.
  </p>
  <p class="xs-col-12 sm-col-8 xs-pb3 xs-mx-auto">
    Portfolio available upon request. Want to get in touch? Feel free to reach out
    <a class="link-royal" href="mailto:jac.oiyana@gmail.com">jac.oiyana@gmail.com</a>
  </p>
  <p class="xs-col-12 sm-col-8 xs-pb3 xs-mx-auto">
    {% include logo.html %}</span>
  </p>
</div>
