<div class="clearflix xs-mx-auto md-mt2 xs-col-12 md-col-10 xs-block clearfix">

  <p class="xs-text-center">
    <span class="text-project">More Works</span>
  </p>

  <div class="gutters xs-mb6 xs-block-grid-2 lg-block-grid-4">

    <div class="block-grid__item xs-text-center">
      <a href="el-dashboard.html" class="link-charcoal xs-text-5 xs-mb1">
        <div class="thumb-container xs-m1 sm-m1 md-m4 lg-m4 xs-mb6">
          <img class="thumb xs-mb3" src="../images/el-dash-thumb.png" />
          <div class="thumb-overlay xs-inline block"></div>
          Analytic Tool Suite
        </div>
      </a>
    </div>

    <div class="block-grid__item xs-text-center">
      <a href="games.html" class="link-charcoal xs-text-5 xs-mb1">
        <div class="thumb-container xs-m1 sm-m1 md-m4 lg-m4 xs-mb6">
          <img class="thumb xs-mb3" src="../images/game-sketch.png" />
          <div class="thumb-overlay xs-inline block"></div>
          Games
        </div>
      </a>
    </div>

    <div class="block-grid__item xs-text-center">
      <a href="pound.html" class="link-charcoal xs-text-5 xs-mb1">
        <div class="thumb-container xs-m1 sm-m1 md-m4 lg-m4 xs-mb6">
          <img class="thumb xs-mb3" src="../images/pound-thumb.png" />
          <div class="thumb-overlay xs-inline block"></div>
          Visualizing Virality
        </div>
      </a>
    </div>

    <div class="block-grid__item xs-text-center">
      <a href="impact-effort.html" class="link-charcoal xs-text-5 xs-mb1">
        <div class="thumb-container xs-m1 sm-m1 md-m4 lg-m4 xs-mb6">
          <img class="thumb xs-mb3" src="../images/impact-effort-thumb.png" />
          <div class="thumb-overlay xs-inline block"></div>
          Impact <span class="xs-text-6">&#x2715;</span> Effort
        </div>
      </a>
    </div>

  </div>

</div>
