<div class="clearflix xs-mx-auto md-mt2 xs-col-9 md-col-8 xs-block clearfix">

  <div class="xs-mb3 xs-mt6 xs-text-center xs-block clearfix">
    <p class="text-project bold">More works</p>
  </div>

  <div class="gutters xs-my3 xs-block-grid-1 sm-block-grid-2 lg-block-grid-4">

    <a href="impact-effort.html" class="block-grid__item xs-p2">
        <h3 class="text-navy xs-text-display xs-text-center xs-mb1">
          Impact <span class="xs-text-5">&#x2715;</span> Effort
        </h3>
        <div class="thumb-container xs-mb3 sm-mb6">
          <img href="#" class="thumb" src="../images/impact-effort-sheet.png" />
          <div class="thumb-overlay xs-inline block"></div>
        </div>
    </a>

    <a href="el-dashboard.html" class="block-grid__item xs-p2">
      <h3 class="text-navy xs-text-display xs-text-center xs-mb1">El Dashboard</h3>
      <div class="thumb-container xs-mb3 sm-mb6">
        <img href="#" class="thumb" src="../images/16PK006_003w_800.jpg" />
        <div class="thumb-overlay xs-inline block"></div>
      </div>
    </a>

    <a href="games.html" class="block-grid__item xs-p2">
      <h3 class="text-navy xs-text-display xs-text-center xs-mb1">Games</h3>
      <div class="thumb-container xs-mb3 sm-mb6">
        <img href="#" class="thumb" src="../images/50-Shades-slider.png" />
        <div class="thumb-overlay xs-inline block"></div>
      </div>
    </a>

    <a href="pound.html" class="block-grid__item xs-p2">
      <h3 class="text-navy xs-text-display xs-text-center xs-mb1">POUND</h3>
      <div class="thumb-container xs-mb3 sm-mb6">
        <img href="#" class="thumb" src="../images/pound-viz-explore.png" />
        <div class="thumb-overlay xs-inline block"></div>
      </div>
    </a>

  </div>

</div>
