<section class="clearflix xs-mx-auto xs-block-grid-2 xs-border-top">

    <div class="block-grid__item xs-p6 xs-text-center xs-border-right">
      <a href="dashboard.html" class="xs-block xs-text-5 xs-mb1 link-project">
        <p class="xs-inline-block text-sans-serif xs-border-bottom">Previous project</p>
        <h1 class="xs-text-display bold italic">BuzzFeed’s Analytic Tools</h1>
      </a>
    </div>

    <div class="block-grid__item xs-p6 xs-text-center">
      <a href="dashboard.html" class="xs-block xs-text-5 xs-mb1 link-project">
        <p class="xs-inline-block text-sans-serif xs-border-bottom">Next Project</p>
        <h1 class="xs-text-display bold italic">Games</h1>
      </a>
    </div>

</section>
