// color style

.fill-midnight     { background-color: $midnight; }
.fill-chambray     { background-color: $chambray; }
.fill-chambray-light    { background-color: #e9eef7; }
.fill-charcoal     { background-color: $charcoal; }
.fill-royal        { background-color: $royal; }
.fill-navy         { background-color: $navy; }
.fill-coral        { background-color: $coral; }

.text-midnight     { color: $midnight; }
.text-chambray     { color: $chambray; }
.text-charcoal     { color: $charcoal; }
.text-royal        { color: $royal; }
.text-navy         { color: $navy; }
.text-coral        { color: $coral; }
