// font and type style add-ons

@import "../node_modules/bf-solid/_lib/solid";

@include generate-breakpoint-prefixes {

  &text-serif {
    font-family: "acta-display", 'Merriweather', Georgia, serif !important;
    font-weight: 300 !important;
    line-height: 2.0 !important;
  }
  &text-sans-serif {
    font-family: 'Heebo', Arial, serif !important;
    font-weight: 300 !important;
    line-height: 1.8 !important;
  }
  &text-display {
    font-family: "acta-display", 'Merriweather', Georgia, serif !important;
    font-weight: 800 !important;
    line-height: 1.6 !important;
  }
  &text-xl {
    font-size: 2.25rem !important;
    font-weight: 700;
  }
  &text-xxl {
    font-size: 3rem !important;
    font-weight: 700;
  }
  &text-xxxl {
    font-size: 5rem !important;
    font-weight: 700;
  }
  &border-black {
    border: 1px solid rgba(0, 0, 0, 1) !important;
  }
  &border-top-black {
    border-top: 1px solid rgba(0, 0, 0, 1) !important;
  }
  &border-right-black {
    border-right: 1px solid rgba(0, 0, 0, 1) !important;
  }
  &border-bottom-black {
    border-bottom: 1px solid rgba(0, 0, 0, 1) !important;
  }
  &border-left-black {
    border-left: 1px solid rgba(0, 0, 0, 1) !important;
  }
  &border-sky {
    border: 1px solid #5f99f5 !important;
  }
  &border-top-sky {
    border-top: 1px solid #5f99f5 !important;
  }
  &border-right-sky {
    border-right: 1px solid #5f99f5 !important;
  }
  &border-bottom-sky {
    border-bottom: 1px solid #5f99f5 !important;
  }
  &border-left-sky {
    border-left: 1px solid #5f99f5 !important;
  }
};
