// font and type style add-ons

@import "../node_modules/bf-solid/_lib/solid";

@include generate-breakpoint-prefixes {

  &text-serif {
    font-family: 'Merriweather', Georgia, serif !important;
    font-weight: 300 !important;
    line-height: 2.0 !important;
  }
  &text-sans-serif {
    font-family: 'Heebo', Arial, serif !important;
    font-weight: 300 !important;
    line-height: 2.0 !important;
  }
  &text-xl {
    font-size: 2.25rem !important;
    font-weight: 400;
    line-height: 1.8!important;
  }
  &text-xxl {
    font-size: 3rem !important;
    line-height: 1.8!important;
    font-weight: 700;
  }
};
