// Style for icons

.icon-social {
  width: 2rem;
  height: 2rem;
  fill: lighten($charcoal, 60%);
  color: lighten($charcoal, 60%);
  cursor: pointer;

  &:hover {
    fill: $coral;
    color: $coral;
    transition: .15s ease 0s;
  }
  &:visited {
    fill: lighten($charcoal, 60%);
    color: lighten($charcoal, 60%);
    transition: .15s ease 0s;
  }
}

.icon-victory {
  width: 2rem;
  height: 2rem;
  fill: $coral;
  cursor: pointer;

}
