// Style for post page

.post {

    h1, h2, h3, h4, h5, h6, p, ul, ol{
    font-weight: 300;
    // line-height: 1.6;
    margin-bottom: $space-3;
    }

    img {
    margin-bottom: $space-1;
    }

    p, ul, ol{
    margin-bottom: $space-4;
    @include solid-breakpoint("lg") {
      margin: 0 5rem $space-4 5rem;
      }
    }
}

.label-number {
  font-family: $sans-serif;
  color: $text-white;
  display: inline-block;
  white-space: nowrap;
  vertical-align: text-bottom;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.27rem 0.6rem;
  border-radius: 50%;
  background-color: $coral;
  font-weight: 700;
  margin-right: $space-1;
}

.text-xl {
  font-size: $text-headline !important;
  font-weight: 400;
  line-height: 1.8!important;
  color: $navy;
}

.text-xxl {
  font-size: $text-headline-super !important;
  line-height: 1.8!important;
  font-weight: 700;
  color: $navy;
}

.text-signature {
  font-family: $sans-serif;
  font-size: $text-2;
  font-weight: 400;
  color: $coral;
  display: inline-block;
}

.text-project {
  font-family: $sans-serif;
  color: $coral;
  border: 2px solid #fecdcd;
  padding: $space-1 $space-2;
  display: inline-block;
  margin-bottom: $space-3;
}

.link-navy {
  color: $navy;
  border-bottom: 2px solid #fecdcd;
  padding-bottom: 0.2rem;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: $coral;
    border-bottom: 2px solid $coral;
    transition: .15s ease 0s;
  }
}

.link-royal {
  color: $royal;
  border-bottom: 1px solid $coral;
  padding-bottom: 0.2rem;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: $navy;
    border-bottom: 2px solid $royal;
    transition: .15s ease 0s;
  }
}

.link-charcoal {
  color: #999999;
  font-weight: 300;
  cursor: pointer;
  &:hover {
    color: $coral;
    border-bottom: 2px solid $coral;
    transition: .15s ease 0s;
  }
}
