// blue
$chambray: #C8D6F9;
$royal: #4C70CA;
$navy: #000067;

// gray
$charcoal: #313035;

// red
$coral: #F76F6F;

// Fonts: these are !important to override Solid's font-family: inherit property
$slab-serif: "adelle", Georgia, serif !important;

$text-headline: 2.25rem  // 36px
