// Color
$chambray: #C8D6F9;
$royal: #4C70CA;
$charcoal: #313035;
$coral: #FF7F50;

// Fonts: these are !important to override Solid's font-family: inherit property
$slab-serif: "adelle", Georgia, serif !important;
