// blue
$chambray: #C8D6F9;
$chambray-lt: #e9eef7;
$royal: #4C70CA;
$navy: #000067;
$midnight: #030b23;
$sky: #57a7ff;
$sky-lt: #ebf2fb;
$lavender-lt: #f2f4f7;

// gray
$oat: #f2f0ec;

// gray
$charcoal: #313035;
$charcoal-lt: #c3c5d0;
$charcoal-md: #9a9a9a;


// red
$coral: #F76F6F;
$coral-lt: #f5dcdc;

// Fonts: these are !important to override Solid's font-family: inherit property
$sans-serif: 'Heebo', Helvetica, sans-serif !important;
//title
$text-headline: 2.25rem;  // 36px
$text-headline-super: 3rem;  // 48px
